@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Viga&display=swap');

/* {} */

* {
    box-sizing: border-box;
    font-family: "Viga", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}



body, main {
    background-color: #1f1f1f;
   
}


/*Estilos para el formulario*/
form {
    margin-top: 20px; 
    width: 450px;
    height: 460px;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 19px;
    background-color: #0f0f0f;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 140px;
}

form .mb-3 {
    padding-top: 10px;
    height: 60px;
    text-align: center;
    margin-top: 10px;
}

form .form-label {
    width: 300px;
}

form .form-control-desc { 
    width: 200px;
    height: 30px;
    border-radius: 6px;
    border: none;
    padding: 10px;
    overflow: auto;
    text-align: center;
    vertical-align: top;
    resize: none; 
    margin-left: 5px;
}
